{{#> layout/default title="Post"}}
  {{#*inline "content"}}
	  <div class="col-md-12 empty-div">
	  </div>
	  <div class="col-md-12 d-flex justify-content-center post-list-container">
		  <div class="col-md-8">
			  <h1>Post</h1>
			  {{#if errorMessage}}
				  <div class="alert alert-danger" role="alert">
					  {{errorMessage}}
				  </div>
			  {{/if}}
			  <form action="" method="GET">
				  <div class="form-group">
					  <div class="input-group">
						  <input type="text" name="search" class="form-control col-md-3" placeholder="Search..." value="{{search}}">
						  <div class="input-group-append">
							  <button type="submit" class="btn btn-secondary">Search</button>
						  </div>
					  </div>
				  </div>
			  </form>
			  <table class="table table-hover">
				  <thead>
				  <tr>
					  <th scope="col" class="list-title">Title</th>
					  <th scope="col" class="list-writer">Writer</th>
					  <th scope="col" class="list-publish-at">Publish At</th>
				  </tr>
				  </thead>
				  <tbody>
				  {{#if list}}
				    {{#each list}}
					  <tr>
						  <td class="item-title"><a href="/post/read/{{id}}" class="post-list-title">{{{title}}}<small>{{getItem countList @index}}</small></a></td>
						  <td class="item-writer">{{{writer.username}}}</td>
						  <td class="item-publish-at">{{df createAt "yyyy.MM.dd"}}</td>
					  </tr>
				    {{/each}}
				  {{/if}}
				  </tbody>
			  </table>
			  <div class="d-flex justify-content-end button-box">
				  <a href="/post/write" class="btn btn-primary">글쓰기</a>
			  </div>
			  {{#if pagination}}
			  <nav id="nav-pagination" aria-label="Page navigation">
				  <ul class="pagination justify-content-center">
					  {{#if previousPage}}
						  <li class="page-item">
							  <a class="page-link" href="/post?page={{previousPageNum}}" aria-label="Previous">
								  <span aria-hidden="true">&laquo;</span>
								  <span class="sr-only">Previous</span>
							  </a>
						  </li>
					  {{/if}}
					  {{#each pageNumList}}
						  <li class="page-item {{#eq this currentPageNum}}active{{/eq}}"><a class="page-link" href="/post?page={{sub this 1}}">{{this}}</a></li>
					  {{/each}}
					  {{#if nextPage}}
						  <li class="page-item">
							  <a class="page-link" href="/post?page={{nextPageNum}}" aria-label="Next">
								  <span aria-hidden="true">&raquo;</span>
								  <span class="sr-only">Next</span>
							  </a>
						  </li>
					  {{/if}}
				  </ul>
			  </nav>
			  {{/if}}
		  </div>
	  </div>
  {{/inline}}
  {{#*inline "js"}}
  {{/inline}}
{{/layout/default}}