{{#> layout/post title=item.title}}
	{{#*inline "content"}}
		<section class="post one-column" id="content" data-id="{{item.id}}">
			<article role="article" class="post-content">
				<p class="post-info">
					<svg class="icon-calendar" id="date"><use xlink:href="#icon-calendar"></use></svg>
					<time class="date" datetime="{{item.createAt}}">
						{{df item.createAt "MMM d, yyyy"}}
					</time>
				</p>
				<h1 class="post-title">{{{item.title}}}</h1>
				{{#if devPostList}}
					{{#each devPostList}}
						<p class="dev-post-item"><a href="{{url}}"><img src="{{thumbnail}}" class="post-cover view-anchor" alt="{{{title}}}">
							<span class="post-subtitle">{{category}} - {{postType}}</span><br><strong class="dev-post-title">{{{title}}}</strong></a>
						</p>
					{{/each}}
				{{/if}}
				{{{unEscape item.content}}}
			</article>
		</section>
		<section class="share">
			<h3>Share</h3>
			<a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{{textOverflow item.content 40}}}&quot;%20{{siteUrl}}%20via%20&#64;" title="Share on Twitter">
				<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
			</a>
			<a aria-label="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{siteUrl}}" title="Share on Facebook">
				<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
			</a>
		</section>
		<section class="author">
			<div class="details">
				{{#if item.writer.pathBase}}
					{{#if item.writer.images}}
						<img class="img-rounded" src="/images/{{pathBase}}{{item.writer.images}}" alt="">
					{{/if}}
				{{else}}
					<img class="img-rounded" src="/assets/img/user.jpg" alt="">
				{{/if}}
				<p class="def">Writer</p>
				<h3 class="name">
					{{{item.writer.username}}}
				</h3>
				<p class="desc">{{{item.writer.description}}}</p>
				<p>
					{{#if item.writer.github}}
					<a href="https://github.com/{{{item.writer.github}}}" title="Github">
						<svg><use xlink:href="#icon-github"></use></svg>
					</a>
					{{/if}}
					{{#if item.writer.facebook}}
					<a href="https://www.facebook.com/{{{item.writer.facebook}}}" title="Facebook">
						<svg><use xlink:href="#icon-facebook"></use></svg>
					</a>
					{{/if}}
					{{#if item.writer.twiter}}
					<a href="https://twitter.com/{{{item.writer.twiter}}}" title="Twitter">
						<svg><use xlink:href="#icon-twitter"></use></svg>
					</a>
					{{/if}}
					{{#if item.writer.instagram}}
					<a href="https://www.instagram.com/{{{item.writer.instagram}}}" title="Instagram">
						<svg><use xlink:href="#icon-instagram"></use></svg>
					</a>
					{{/if}}
					{{#if item.writer.linkedIn}}
					<a href="https://www.linkedin.com/in/{{{item.wrtier.linkedIn}}}" title="LinkedIn">
						<svg><use xlink:href="#icon-linkedin"></use></svg>
					</a>
					{{/if}}
				</p>
			</div>
		</section>
		<section class="button-section">
			<a href="/post" class="btn btn-secondary">목록</a>
			{{#if postOwner}}
				<a href="/post/modify/{{item.id}}" class="btn btn-primary">수정</a>
				<a href="/post/delete/{{item.id}}" class="btn btn-danger" id="delete">삭제</a>
			{{/if}}
		</section>
		<section class="comments" id="comment-list">
		</section>
		{{#if isAuthentication}}
		<section class="comments">
			<div class="comment-write-container">
				<form id="comment-form">
					<div class="comment-write">
						<textarea id="comment" name="comment"></textarea>
					</div>
					<div class="comment-btn">
						<button id="comment-submit" type="submit" class="btn btn-primary">등록</button>
					</div>
					<input type="hidden" name="post-id" value="{{item.id}}">
				</form>
			</div>
		</section>
		{{/if}}
	{{/inline}}
	{{#*inline "js"}}
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
		<script src="/assets/js/post-read.js"></script>
	{{/inline}}
{{/layout/post  }}