{{#> layout/default title="Post Write"}}
	{{#*inline "content"}}
		<div class="col-md-12 empty-div">
		</div>
		<div class="col-md-12 d-flex justify-content-center post-read-container">
			<div class="col-md-8">
				<h1 class="read-title">{{{item.title}}}</h1>
				<div class="form-row devflix-post">
					{{#if devPostList}}
					<div class="form-group col-md-12">
						<label for="dev-search">Dev Post List</label><br>
						{{#each devPostList}}
							<div class="card col-md-12 bg-light result-item">
								<div class="row g-0">
									<div class="col-md-4 result-item-img-div">
										<a href="{{url}}"><img src="{{thumbnail}}" class="result-item-img"></a>
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<a href="{{url}}">
											<h5 class="card-title">{{category}} - {{postType}}</h5>
											<p class="card-text">{{title}}</p>
											<p class="card-text">
												<small class="text-muted">{{uploadAt}}</small></p>
											</a>
										</div>
									</div>
								</div>
							</div>
						{{/each}}
					</div>
					{{/if}}
					<div class="form-group col-md-12">
						<label for="content">Content</label>
						<div class="col-md-12 read-content">
							{{{item.content}}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 d-flex justify-content-center">
			<div class="col-md-8 d-flex justify-content-end button-box">
				<a href="/post" class="btn btn-secondary">목록</a>
			</div>
		</div>
	{{/inline}}
	{{#*inline "js"}}
	{{/inline}}
{{/layout/default}}