{{#> layout/post title=item.title}}
	{{#*inline "content"}}
		<section class="post one-column">
			<article role="article" class="post-content">
				<p class="post-info">
					<svg class="icon-calendar" id="date"><use xlink:href="#icon-calendar"></use></svg>
					<time class="date" datetime="{{item.createAt}}">
						{{df item.createAt "MMM d, yyyy"}}
					</time>
				</p>
				<h1 class="post-title">{{{item.title}}}</h1>
				{{#if devPostList}}
					{{#each devPostList}}
						<p class="dev-post-item"><a href="{{url}}"><img src="{{thumbnail}}" class="post-cover" alt="{{{title}}}">
							<span class="post-subtitle">{{category}} - {{postType}}</span><br><strong class="dev-post-title">{{{title}}}</strong></a>
						</p>
					{{/each}}
				{{/if}}
				{{{unEscape item.content}}}
			</article>
		</section>
		<section class="share">
			<h3>Share</h3>
			<a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{{textOverflow item.content 40}}}&quot;%20{{siteUrl}}%20via%20&#64;" title="Share on Twitter">
				<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
			</a>
			<a aria-label="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{siteUrl}}" title="Share on Facebook">
				<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
			</a>
		</section>
		<section class="author">
			<div class="details">
				{{#if item.writer.pathBase}}
					{{#if item.writer.images}}
						<img class="img-rounded" src="/images/{{pathBase}}{{item.writer.images}}" alt="">
					{{/if}}
				{{else}}
					<img class="img-rounded" src="/assets/img/user.jpg" alt="">
				{{/if}}
				<p class="def">Writer</p>
				<h3 class="name">
					{{{item.writer.username}}}
				</h3>
				<p class="desc">{{{item.writer.description}}}</p>
				<p>
					{{#if item.writer.github}}
					<a href="https://github.com/{{{item.writer.github}}}" title="Github">
						<svg><use xlink:href="#icon-github"></use></svg>
					</a>
					{{/if}}
					{{#if item.writer.facebook}}
					<a href="https://www.facebook.com/{{{item.writer.facebook}}}" title="Facebook">
						<svg><use xlink:href="#icon-facebook"></use></svg>
					</a>
					{{/if}}
					{{#if item.writer.twiter}}
					<a href="https://twitter.com/{{{item.writer.twiter}}}" title="Twitter">
						<svg><use xlink:href="#icon-twitter"></use></svg>
					</a>
					{{/if}}
					{{#if item.writer.instagram}}
					<a href="https://www.instagram.com/{{{item.writer.instagram}}}" title="Instagram">
						<svg><use xlink:href="#icon-instagram"></use></svg>
					</a>
					{{/if}}
					{{#if item.writer.linkedIn}}
					<a href="https://www.linkedin.com/in/{{{item.wrtier.linkedIn}}}" title="LinkedIn">
						<svg><use xlink:href="#icon-linkedin"></use></svg>
					</a>
					{{/if}}
				</p>
			</div>
		</section>
		<section class="button-section">
			<a href="/post" class="btn btn-secondary">목록</a>
			<a href="/post/modify" class="btn btn-primary">수정</a>
		</section>
		<section class="comments">
			<h3>Comments</h3>
			<div class="comment-item">
				<div class="user-profile">
					<img class="img-rounded" src="/assets/img/user.jpg" alt="">
					asdasdsadsaaasd
				</div>
				<div class="comment-content">
					<small>2021.01.21</small><br>
					<p>asdasdasdasdasdsad</p>
					<p>asdasdasdasdasdsad</p>
					<p>asdasdasdasdasdsad</p>
				</div>
			</div>
			<div class="comment-item">
				<div class="user-profile">
					<img class="img-rounded" src="/assets/img/user.jpg" alt="">
					asdasdsadsaaasd
				</div>
				<div class="comment-content">
					<small>2021.01.21</small><br>
					<p>asdasdasdasdasdsad</p>
					<p>asdasdasdasdasdsad</p>
				</div>
			</div>
			<div class="comment-item">
				<div class="user-profile">
					<img class="img-rounded" src="/assets/img/user.jpg" alt="">
					asdasdsadsaaasd
				</div>
				<div class="comment-content">
					<small>2021.01.21</small><br>
					<p>asdasdasdasdasdsadasdasdasdasdasdsadasdasdasdasdasdsadasdasdasdasdasdsadasdasdasdasdasdsadasdasdasdasdasdsadasdasdasdasdasdsad</p>
					<p>asdasdasdasdasdsad</p>
					<p>asdasdasdasdasdsad</p>
					<p>asdasdasdasdasdsad</p>
				</div>
			</div>
			<nav id="nav-pagination" aria-label="Page navigation">
				<ul class="pagination justify-content-center">
						<li class="page-item">
							<a class="page-link" href="/?page=" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item active"><a class="page-link" href="/?page=">11</a></li>
						<li class="page-item">
							<a class="page-link" href="/?page=" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
							</a>
						</li>
				</ul>
			</nav>
			<div class="comment-write-container">
				<div class="comment-write">
					<textarea id="comment"></textarea>
				</div>
				<div class="comment-btn">
					<button type="button" class="btn btn-primary">등록</button>
				</div>
			</div>
		</section>
	{{/inline}}
	{{#*inline "js"}}
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
		<script src="/assets/js/post-read.js"></script>
	{{/inline}}
{{/layout/post  }}