{{#> layout/default title="Devflix"}}
  {{#*inline "content"}}
	  <main class="home no-padding" role="main">
		  <section class="hero" style="background-image: url('https://res.cloudinary.com/dm7h7e8xj/image/upload/v1559821647/theme6_qeeojf.jpg')">
			  <div class="pixels"></div>
			  <div class="gradient"></div>
			  <div class="content">
				  <time datetime="2021.01.90 class="date">
				  </time>
				  <h1 class="title">Welcome to the desert of the real</h1>
				  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <div class="buttons">
					  <a href="" role="button" class="button">
						  <svg><use xlink:href="#icon-read"></use></svg>
						  <span>Read Now</span>
					  </a>
				  </div>
			  </div>
		  </section>
		  <section id="grid" class="row-main flex-grid">
			  {{#each data}}
			  <article class="box-item">
                <span class="category">
                    <a href="{{url}}">
                        <span>{{ category }}</span>
                    </a>
                </span>
				  <div class="box-body">
					  <a class="cover" href="{{url}}">
						  {{>layout/include/loader}}

						  <img src="/assets/img/placeholder.png" width="100%" data-url="{{ OptImgUrl }}" class="preload">
						  <noscript>
							  <img src="{{ OptImgUrl }}" width="100%">
						  </noscript>

						  {{>layout/include/new-post-tag}}
						  {{>layout/include/read-icon}}
					  </a>
					  <div class="box-info">
						  <time datetime="{{ date }}" class="date">
							  {{ date }}
						  </time>
						  <a class="post-link" href="{{ url }}">
							  <h2 class="post-title">
								  {{ title }}
							  </h2>
						  </a>
						  <a class="post-link" href="{{ url }}">
							  <p class="description">{{ description }}</p>
						  </a>
						  <div class="tags">
							  {{#each tags}}
							    <a href="{{url}}">#{{ this }}</a>
							  {{/each}}
						  </div>
					  </div>
				  </div>
			  </article>
			  {{/each}}
		  </section>
	  </main>
  {{/inline}}
  {{#*inline "js"}}
  {{/inline}}
{{/layout/default}}