{{#> layout/default title="Devflix" background-black=true}}
  {{#*inline "content"}}
	  <main class="home no-padding" role="main">
		  <section class="hero{{#eq banner.postType 'YOUTUBE'}} youtube-hero{{/eq}}" style="background-image: url('{{banner.thumbnail}}')">
			  <div class="pixels"></div>
			  <div class="gradient"></div>
			  <div class="content">
				  <time datetime="{{banner.uploadAt}}" class="date">
					  {{df banner.uploadAt "MMM d, yyyy"}}
				  </time>
				  <h1 class="title">{{{textOverflow banner.title 50}}}</h1>
				  <p class="description">{{{textOverflow banner.description 50}}}</p>
				  <div class="buttons">
					  <a href="{{banner.url}}" role="button" class="button view-anchor">
						  {{#eq banner.postType 'BLOG'}}
							  <svg><use xlink:href="#icon-read"></use></svg>
							  <span>Read Now</span>
						  {{else}}
							  <svg><use xlink:href="#icon-watch"></use></svg>
							  <span>Watch Now</span>
						  {{/eq}}
					  </a>
				  </div>
			  </div>
		  </section>
		  <section id="grid" class="row-main flex-grid" data-category="" data-tag=""></section>
		  <div id="pagination" class="pagination pagination-home"></div>
	  </main>
  {{/inline}}
  {{#*inline "js"}}
	  <script src="/assets/js/dev-post-list.js"></script>
  {{/inline}}
{{/layout/default}}