{{#> layout/default title="My Page"}}
	{{#*inline "content"}}
		<div class="post">
			<article class="post-content fullwidth">
				<div class="login-container">
					<div id="form" class="contact-form my-page">
						<h1>My Page - Password</h1>
						{{#if errorMessage}}
							<div class="row">
								<div class="alert alert-danger col-md-12" role="alert">
									{{errorMessage}}
								</div>
							</div>
						{{/if}}
						<form id="my-page-password-form" method="post" action="/my-page/password" class="needs-validation">
							<div class="row">
								<div class="form-group col-md-12">
									<label for="current-password">Current Password</label>
									<input type="password" id="current-password" name="current-password" class="form-control col-md-6" placeholder="Current Password" value="{{item.username}}">
								</div>
								<div class="form-group col-md-12">
									<label for="new-password">New Password</label>
									<input type="password" id="new-password" name="new-password" class="form-control col-md-6" placeholder="New Password" value="{{item.username}}">
								</div>
								<div class="form-group col-md-12">
									<label for="new-password-confirm">New Password Confirm</label>
									<input type="password" id="new-password-confirm" name="new-password-confirm" class="form-control col-md-6" placeholder="New Password Confirm" value="{{item.username}}">
								</div>
								<input type="hidden" name="id" value="{{item.id}}">
								<div class="form-group col-md-12">
									<button type="submit" class="btn btn-primary">수정</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</article>
		</div>
	{{/inline}}
	{{#*inline "js"}}
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
		<script src="/assets/js/my-page.js"></script>
	{{/inline}}
{{/layout/default}}