<header class="bar-header">
	<a id="menu" role="button">
		<svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
	</a>
	<h1 class="logo">
		<a href="/">
			Devflix
		</a>
	</h1>
	{{#if user}}
		<div id="profile" class="dropdown header-icon">
			<a role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{#if user.pathBase}}
					{{#if user.imagePath}}
						<img src="/images/{{user.pathBase}}{{user.imagePath}}" class="icon-profile">
					{{else}}
						<img src="/assets/img/user.jpg" class="icon-profile">
					{{/if}}
				{{else}}
					<img src="/assets/img/user.jpg" class="icon-profile">
				{{/if}}
			</a>
			<div class="dropdown-menu" aria-labelledby="profile">
				<a class="dropdown-item" href="/my-page">My Page</a>
				<a class="dropdown-item" href="/my-page/post-write">My Post Write</a>
				<a class="dropdown-item" href="/my-page/post-comment">My Post Comment</a>
				<form action="/logout" method="post">
					<input type="hidden" name="{{csrf_parameter}}" value="{{csrf_token}}">
					<button type="submit" class="dropdown-item">Logout</button>
				</form>
			</div>
		</div>
		<div id="alert" class="dropdown header-icon">
			<a role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<svg class="icon-alert"><use xlink:href="#icon-alert"></use></svg>
				{{#if commentAlert}}
				<span class="alert-dots"></span>
				{{/if}}
			</a>
			<ul class="dropdown-menu" id="comment-alert" style="width:300px;text-align: center; text-decoration: none; color: black">
				{{#if commentAlert}}
					{{#each commentAlert}}
						<li class="item"><a href="/post/read/{{comment.post.id}}?ca={{this.id}}"><small>댓글: </small>{{removeHtmlTag comment.comment}}</a></li>
					{{/each}}
				{{else}}
					<li><p>알람 없음.</p></li>
				{{/if}}
				<li class="item"><a href="/comment-alert">전체 댓글 알람 확인하기...</a></li>
			</ul>
		</div>
	{{else}}
		<div id="login" class="header-icon">
			<a role="button" href="/login">
				<svg class="icon-login"><use xlink:href="#icon-login"></use></svg>
			</a>
		</div>
	{{/if}}
	<div id="search" class="header-icon">
		<a class="dosearch" role="button">
			<svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
		</a>
	</div>
</header>
<div id="mask" class="overlay"></div>
{{>layout/include/menu}}
{{>layout/include/search}}
